
# dependencies
/backend/node_modules
/frontend/node_modules

# production
/build

# misc
.DS_Store
backend/.env.local
backend/.env.development.local
backend/.env.test.local
backend/.env.production.local

